<div class="container">
  <h2><%= @user.name %>さん</h2>
</div>
<div class="images">
  <%= attachment_image_tag @user, :image, format: "jpg",fallback: "no_image.jpg", size: "450x270" %>
</div>
<div class="g-table">
  <table class="table table-sm">
    <tbody>
    <tr>
      <td>名前:<%= @user.name %></td>
    </tr>
    <tr>
      <td>紹介:<%= @user.profile %></td>
    </tr>
  </table>
  </tbody>
  </table>
</div>
<% if current_user == @user %>
  <%= link_to "アカウントを編集します",edit_user_registration_path %>
<% end %>
