<div class="container-fluid">
  <div class="row">

<% if user_signed_in? %>
  <h2>スタジオ一覧</h2>
      <%= link_to "ログアウト", destroy_user_session_path ,:method => :delete %>
  <% @studios.each do |studio| %>
    <%= studio.name %>
    <% if @studio_ids.include?(studio.id) %>
      <%= link_to "チャットへ", room_path(current_user.rooms.find_by(studio_id: studio.id)) %>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :studio_id, :value => studio.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>


<% elsif studio_signed_in? %>
  <h2>ユーザー一覧</h2>
  <br>
  <%= link_to "ログアウト", destroy_studio_session_path ,:method => :delete %>
  <br>
  <% @users.each do |user| %>
    <%= user.name %>
    <% if @user_ids.include?(user.id) %>
      <br>
      <%= link_to "チャットへ", room_path(current_studio.rooms.find_by(user_id: user.id)) %><br>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.submit %>
      <% end %>
    <% end %>

  <% end %>

<% else %>
  <h3>ユーザー</h3>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  <h3>ショップ</h3>
  <%= link_to "ログイン", new_studio_session_path %>
  <%= link_to "新規登録", new_studio_registration_path %>
<% end %>
 </div>
</div>