<!DOCTYPE html>
<html>
  <head>
    <title>ECHO-404</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= link_to 'Show', users_show_path, class: "users_#{current_user.id}" %></td>
    </tr>
  <% elsif studio_signed_in? %>
    <tr>
      <td><%= current_studio.name %></td>
      <td><%= link_to 'Show', studios_show_path, class: "studios_#{current_studio.id}" %></td>
    </tr>
  <% end %>
    <%= yield %>
  </body>
</html>
